.content {
    height: calc(510px);
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .left {
    /* background-color: royalblue; */
    height: 100%;
    width: 50%;
    padding: 4vw 4vw;
    padding-right: 0vw;
  }
  .left h1 {
    font-size: 4vw;
    font-weight: 700;
    line-height: 5vw;
  }
  .left h1 span {
    color: rgb(42, 165, 104);
  }
  .left p {
    font-size: 1.2vw;
    margin-top: 1.5vw;
    width: 80%;
  }
  .left button{
    padding: 0.5vw 1.5vw;
    font-size: 1.5vw;
    font-weight: 600;
    color: white;
    background-color: rgb(42, 165, 104);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.left button a{
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.left button:hover{
    background-color: rgb(34, 133, 83);
}
  .right {
    /* background-color: red; */
    height:100%;
    width: 50%;
    /* padding: 4vw; */
  padding-right: 3vw;

  }
  
  .right img {
    width: 100%;
    height: 100%;
    padding: 1vw;
  }
  

  @media (max-width: 600px) {
    .content {
      height: 610px;
      flex-direction: column;
    }
    .left {
      width: 100%;
      height: 45%;
      padding: 7vw 6vw;
    }
    .right {
      width: 100%;
      height: 50%;
      /* padding: 0vw 5vw; */
    }
    .left h1 {
      font-size: 12vw;
      line-height: 10vw;
    }
    .left p {
      font-size: 3vw;
      margin-top: 4vw;
    }
  }
  